@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300');

$dark-color: #222;
$light-color: #777;
$font1: 'Anton', sans-serif;
$font2: 'Open Sans Condensed', sans-serif;

body { background: $dark-color; color:$light-color; }
html, body, h1, h2, h3, h4, h5, h6, p { font-family: $font1; }

